@import "tailwindcss";
@import "lenis/dist/lenis.css";

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-primary: #424874;
  --color-brand: #424874;
  --color-accent: #A6B1E1;
  --color-success: #424874;
  --color-warning: #A6B1E1;
  --color-danger: #424874;
  --color-info: #424874;

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);

  --font-mono-display: var(--font-inter), sans-serif;
  --font-sans: var(--font-inter), sans-serif;
}

:root {
  /* User Defined Palette */
  --background: #F4EEFF;
  --surface: #FFFFFF;
  --surface-hover: #DCD6F7;
  --footer-bg: #424874;
  --border: #DCD6F7;
  --text-primary: #424874;
  --text-secondary: #424874;
  --text-tertiary: #A6B1E1;
}

.dark {
  --background: #1B1E36;
  --surface: #262A49;
  --surface-hover: #32375F;
  --footer-bg: #121424;
  --border: #3D4470;
  --text-primary: #F4EEFF;
  --text-secondary: #DCD6F7;
  --text-tertiary: #A6B1E1;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}